{:linters {:unresolved-namespace {:exclude [
                                            ;; namespace aliases declared using require-python
                                            builtins
                                            pickle
                                            
                                            ;; namespace aliases declared using require-r 
                                            graphics
                                            GGally
                                            stats
                                            datasets
                                            
                                            ]}
           :unresolved-var       {:exclude [
                                            ;; vars dynamically created by clojisr.v1.r
                                            clojisr.v1.r/bra<-
                                            clojisr.v1.r/bra]}}}